$unit: 8px;

$xsmall: $unit / 4;  // 2px
$small: $unit / 2;   // 4px
$medium: $unit;      // 8px
$large: $unit * 2;   // 16px
$xlarge: $unit * 3;  // 24px
$xxlarge: $unit * 4; // 32px

$font-size: 17px;

$footer-size-mobile: 60px;
$footer-size-tablet: 80px;
$footer-size-desktop: 100px;

$mobile-breakpoint: 0px;
$tablet-breakpoint: 600px;
$desktop-breakpoint: 960px;
