@import 'flex';
@import 'sizes';
@import 'colors';
@import 'spacing';

.ContentPage {
  margin: 0 auto !important;
  max-width: $desktop-breakpoint !important;

  @media(min-width: $mobile-breakpoint) {
    padding-bottom: $footer-size-mobile !important;
  }

  @media(min-width: $tablet-breakpoint) {
    padding-bottom: $footer-size-tablet !important;
  }

  @media(min-width: $desktop-breakpoint) {
    padding-bottom: $footer-size-desktop !important;
  }

  .title {
    text-transform: capitalize;
    font-size: $xlarge;
    @extend .mbl;
    @extend .pvm;
    @extend .phl;
    @extend .color-light-gray;
    @extend .bg-color-blue;
  }

  .img > img {
    object-fit: cover;
    width: 100%
  }

  .text {
    @media(min-width: $mobile-breakpoint) {
      padding: 0 $medium !important;
    }

    @media(min-width: $desktop-breakpoint) {
      padding: 0 !important;
    }
  }
}
