@import 'flex';
@import 'sizes';
@import 'colors';
@import 'spacing';

.ContentPage {
  padding-bottom: $footer-size;
  @extend .fdr;
  @extend .fjc;

  .title {
    text-transform: capitalize;
    font-size: $xlarge;
    @extend .mbl;
    @extend .pvm;
    @extend .phl;
    @extend .bg-color-light-blue;
  }
}
