@import 'flex';
@import 'spacing';

.ContactPage {
  ul {
    width: 220px;
    @extend .pan;

    li {
      list-style-type: none;
      @extend .mbn;
      @extend .fdr;
      @extend .fjl;

      label {
        min-width: 60px;
      }
    }
  }
}
