.ContactPage ul {
  width: 220px;
  padding: 0;
}

.ContactPage ul li {
  margin-bottom: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.ContactPage ul li label {
  min-width: 60px;
}
