.Footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Footer p {
  margin: 0 4px;
}
