@import 'colors';
@import 'flex';
@import 'sizes';
@import 'spacing';

.Footer {
  position: fixed;
  bottom: 0;
  height: $footer-size;
  width: 100%;
  @extend .fdr;
  @extend .fjc;
  @extend .fac;
  @extend .bg-color-light-gray;

  p {
    @extend .mhs;
  }
}
