@import 'colors';
@import 'fonts';
@import 'flex';
@import 'sizes';
@import 'spacing';

.HomePage {
  .banner {
    height: 200px;
    width: 100%;
    @extend .mbl;
    @extend .color-white;
    background-image: url('../assets/images/banner-sunset2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;

    h1 {
      @extend .font-body-bold;
      @extend .mhl;
    }
  }

  .content {
    @extend .phl;

    .title {
      @extend .mbl;
    }

    @media(min-width: $mobile-breakpoint) {
      padding-bottom: $footer-size-mobile !important;
    }

    @media(min-width: $tablet-breakpoint) {
      padding-bottom: $footer-size-tablet !important;
    }

    @media(min-width: $desktop-breakpoint) {
      padding-bottom: $footer-size-desktop !important;
    }
  }
}
