@import 'colors';
@import 'fonts';
@import 'flex';
@import 'sizes';
@import 'spacing';

.HomePage {
  .banner {
    height: 200px;
    width: 100%;
    @extend .mbl;
    @extend .color-white;
    background-image: url('../assets/images/banner-sunset2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;

    h1 {
      @extend .font-body-bold;
      @extend .mhl;
    }
  }

  .content {
    @extend .phl;
    padding-bottom: $footer-size;
    @extend .fdr;
    @extend .fjb;

    section {
      @extend .phxxl;
      max-width: 800px;

      h2 {
        @extend .mbxxl;
      }

      p {
        @extend .mbm;
      }
    }
  }
}
