@import 'grid';
@import 'sizes';
@import 'spacing';
@import 'fonts';
@import 'colors';
@import 'flex';

body {
  @extend .man;
  @extend .pan;
  @extend .font-body;
  @extend .color-dark-gray;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, label {
  @extend .man;
  @extend .pan;
}

h1, h2 {
  @extend .font-header-bold;
}

a {
  text-decoration: none;
  @extend .color-blue;
}

a:hover {
  @extend .color-dark-blue;
}

p, a, li {
  @extend .mbl;
  line-height: 1.3;
}

strong {
  @extend .font-body-bold;
}

em {
  @extend .font-body-italic;
}

ul {
  @extend .mbl;
}
