@import 'colors';
@import 'sizes';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media(min-width: $mobile-breakpoint) {
    width: 100%;
  }

  @media(min-width: $desktop-breakpoint) {
    width: 350px;
  }

  .link {
    text-transform: uppercase;
    font-size: $font-size;
  }

  a:hover {
    font-weight: 500;
    border-bottom: 2px solid $dark-gray;
  }
}
