@import 'colors';
@import 'flex';
@import 'sizes';

.nav {
  @extend .fdr;
  @extend .fjb;
  width: 350px;

  .link {
    text-transform: uppercase;
    font-size: $font-size;
  }

  a:hover {
    font-weight: 500;
    border-bottom: 2px solid $dark-gray;
  }
}
