.AboutPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AboutPage .left {
  width: 30%;
}

.AboutPage .left img {
  width: 100%;
}

.AboutPage .right {
  width: 70%;
}

.AboutPage p {
  margin: 0 16px 16px 32px;
}
