.banner {
  height: 150px;
  width: 100%;
  margin-bottom: 16px;
  padding-left: 16px;
  color: white;
  background-image: url('../assets/images/forest.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.content {
  padding: 0 16px;
}

p {
  margin-bottom: 8px;
}
