.HomePage .banner {
  height: 150px;
  width: 100%;
  margin-bottom: 16px;
  color: white;
  background-image: url('../assets/images/forest.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.HomePage .banner h1 {
  margin: 0 16px;
}

.HomePage .content {
  padding: 0 16px;
}

.HomePage p {
  margin-bottom: 8px;
}
