.Footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
