@font-face {
  font-family: 'Header Bold';
  src: url('./assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf');
}

@font-face {
  font-family: 'Header Italic';
  src: url('./assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf');
}

@font-face {
  font-family: 'Header';
  src: url('./assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Body';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Body Bold';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'Body Bold Italic';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
}

@font-face {
  font-family: 'Body Semi Bold';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}

@font-face {
  font-family: 'Body Semi Bold Italic';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Body Extra Light';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
}

@font-face {
  font-family: 'Body Extra Light Italic';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Body Italic';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}

@font-face {
  font-family: 'Body Light';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf');
}

@font-face {
  font-family: 'Body Light Italic';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
}

@font-face {
  font-family: 'Body Black';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf');
}

@font-face {
  font-family: 'Body Black Italic';
  src: url('./assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf');
}
