body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282c34;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Header Bold';
}

a {
  text-decoration: none;
  color: royalblue;
}

a:hover {
  color: darkblue;
}

p, a, li {
  font-family: 'Body';
  font-size: 17px;
  margin-bottom: 16px;
  line-height: 1.3;
}

strong {
  font-family: 'Body Bold';
}

em {
  font-family: 'Body Italic';
}

ul {
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.col-left {
  width: 400px;
}

.col-left img {
  width: 100%;
}

.col-right {
  margin-left: 32px;
  max-width: 528px;
  width: 528px;
}
